<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户端</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div style="text-align: center;">

    <p>请先给自己起个帅气的昵称：</p>
    <input type="text" id="username" style="height: 19px;" placeholder="请输入昵称">
    <input type="button" value="点击登录" onclick="login()">

</div>

<script>
    function login() {
        var name = $('#username').val()

        if (name == null || name == '') {
            alert("请先给自己起个名字！")
            return
        }
        $.post('/login', {
            username: name
        }, function (res) {
            location.href = "/"
        });
    }
</script>
</body>
</html>